<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  http://axelor.com/xml/ns/object-views/object-views_5.0.xsd">
  
  <menuitem title="Company" name="menu-company" action="menu.company"/>
  
  <action-view name="menu.company" title="Company" model="com.axelor.gst.db.Company">
	<view type="grid" name="company-grid"/>
	<view type="form" name="company-form"/>  	
  </action-view>
  
  <menuitem title="Contact" name="menu-contact" action="menu.contact"/>
  
  <action-view name="menu.contact" title="Contact" model="com.axelor.gst.db.Contact">
	<view type="grid" name="contact-grid"/>
	<view type="form" name="contact-form"/>  	
  </action-view>
  
  <menuitem title="Bank Account" name="menu-bank-account" action="menu.bank.account"/>
  
  <action-view name="menu.bank.account" title="Bank Account" model="com.axelor.gst.db.BankAccount">
	<view type="grid" name="bank-account-grid"/>
	<view type="form" name="bank-account-form"/>  	
  </action-view>
  
  <menuitem title="Configuration" name="menu-address-configuration"/>
  
  <menuitem title="Address" name="menu-address" parent="menu-address-configuration" action="menu.address"/>
  
  <action-view name="menu.address" title="Address" model="com.axelor.gst.db.Address">
  	<view type="grid" name="address-grid"/>
  	<view type="form" name="address-form"/>
  </action-view>
  
  <menuitem title="City" name="menu-address-city" parent="menu-address-configuration" action="menu.address.city"/>
  
  <action-view name="menu.address.city" title="City" model="com.axelor.gst.db.City">
  	<view type="grid" name="city-grid"/>
  	<view type="form" name="city-form"/>
  </action-view>
  
  <menuitem title="State" name="menu-address-state" parent="menu-address-configuration" action="menu.address.state"/>
  
  <action-view name="menu.address.state" title="State" model="com.axelor.gst.db.State">
  	<view type="grid" name="state-grid"/>
  	<view type="form" name="state-form"/>
  </action-view>
  
  <menuitem title="Country" name="menu-address-country" parent="menu-address-configuration" action="menu.address.country"/>
  
  <action-view name="menu.address.country" title="Country" model="com.axelor.gst.db.Country">
  	<view type="grid" name="country-grid"/>
  	<view type="form" name="country-form"/>
  </action-view>
  
  <menuitem title="Product" name="menu-product" action="menu.product"/>
  
  <action-view name="menu.product" title="Product" model="com.axelor.gst.db.Product">
  	<view type="grid" name="product-grid"/>
  	<view type="form" name="product-form"/>
  </action-view>
  
  <menuitem title="Product Category" name="menu-product-category" action="menu.product.category"/>
  
  <action-view name="menu.product.category" title="Product Category" model="com.axelor.gst.db.ProductCategory">
  	<view type="grid" name="product-category-grid"/>
  	<view type="form" name="product-category-form"/>
  </action-view>
  </object-views>